@charset "UTF-8";
@import url("main.css");

.board-menu p:first-child {
    color: #F1AF23;
    font-weight: bold;
}



div.card {
	width: 1000px;
	height: 100px;
	margin: 30px 50px;
}

.card #card-title {
	font: 16px bold;
	margin-bottom: 8px;
}

.card #card-content {
	width: 990px;
	height: 60px;
	border: 1px solid #5A5A5A;
    border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	
}

#card-content .search-text {
	margin-right: 10px;
	font-size: 16px;
	 letter-spacing: 3px;
}

#card-content .input-box {
	height: 40px;
	border: 1px solid #5A5A5A;
    border-radius: 10px;
    font-size: 16px;	
}

#card-content #id-box{
	width: 180px;
}

#card-content #title-box {
	width: 300px;
}

#search-date img {
	margin-right: 10px;
}





.cardBtn {
	width: 100px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease; 
}

#deleteBtn {
    color: #F1AF23;
	border: 1px solid #F1AF23;
    	
}

#searchBtn {
    color: #5A5A5A;
	border: 1px solid #5A5A5A;	
}

#deleteBtn:hover {
	background-color: #F1AF23;
	color: #FFFFFF;
}

#searchBtn:hover {
	background-color: #5A5A5A;
	color: #FFFFFF;
}