/* board.css */
@charset "UTF-8";
@import url("main.css");

.board-menu > a:first-child > p {
    color: #F1AF23;
    font-weight: bold;
}

div.card {
	width: 1000px;
	height: 100px;
	margin: 35px 50px;
}

.card #card-title {
	font: 16px bold;
	margin-bottom: 8px;
}

.card #card-content {
	width: 1000px;
	height: 60px;
	border: 1px solid #5A5A5A;
    border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	
}

#card-content .search-text {
	margin-right: 10px;
	font-size: 16px;
	 letter-spacing: 3px;
}

#card-content .input-box {
	height: 40px;
	border: 1px solid #5A5A5A;
    border-radius: 10px;
    font-size: 16px;	
}

#card-content #id-box{
	width: 180px;
}

#card-content #title-box {
	width: 300px;
}

#search-date img {
	margin-right: 10px;
}

.cardBtn {
	width: 100px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease; 
}

#deleteBtn {
    color: #F1AF23;
	border: 1px solid #F1AF23;
}

#searchBtn {
    color: #5A5A5A;
	border: 1px solid #5A5A5A;	
}

#deleteBtn:hover {
	background-color: #F1AF23;
	color: #FFFFFF;
}

#searchBtn:hover {
	background-color: #5A5A5A;
	color: #FFFFFF;
}

.board-table {
    width: 1000px;
	margin: 30px 50px;
}

table {
    display: block;
    font-size: 16px;
    text-align: center;
}

table tr:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
table .left {
    text-align: left;
}
thead, tbody, tr {
    display: block;
    width: 100%;
}
td, th {
    display: block;
    float: left;
    padding: 10px 0;
}

th {
	letter-spacing: 3px
}

table thead {
    border-bottom: solid 2px #5A5A5A;
    font-weight: bold;
}
table tbody tr {
    border-bottom: 1px dotted #ccc;
}

.check-size, .board-list-check { /* **************** 체크 박스 사이즈 여기있따~ ************* */
	transform: scale(1.7);
	cursor: pointer;
}

.board-table table .check {
	width: 5%;
}
.board-table table .no {
    width: 11%;
}
.board-table table .subject {
    width: 50%;
}
.board-table table .id {
    width: 17%;
}
.board-table table .date {
    width: 17%;
}

