/* editProfile.css */
@charset "UTF-8";
@import url("main.css");

.member-menu > a:first-child > p {
    color: #F1AF23;
    font-weight: bold;
}

.editProfile-form-container {
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.editProfile-form-container h1 {
    font-size: 24px;
    color: #005898;
    margin-bottom: 20px;
}

#edit-profile-form {
    display: flex;
    flex-direction: column;
}

.edit-profile-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#edit-profile-form .edit-profile-label {
    flex: 1;
    margin: 10px 10px 0 0;
    align-self: flex-start; 
	letter-spacing: 3px;
}

#edit-profile-form .edit-profile-input {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
}

.edit-profile-btn {
    width: 49%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #005898;
    border-radius: 10px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #005898;
    transition: background-color 0.3s ease; 
}

.edit-profile-btn:hover {
	background-color: #005898;
	color: #FFFFFF;
}








