@charset "UTF-8";
@import url("auth.css");

#signUpBtn {
	background-color: #ffffff;
	color: #002C4C;
}

#signInBtn {
	background-color: #002C4C;
	border: 1px solid white;
	color: #ffffff;
}

form {
	width: 360px;
	height: 500px;
	margin: 0 auto;  
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
}
